@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --title-color: #333;
  --body-colour: #696969;
  --background-color: #eee;
  --foreground-color: #fff;
  --btn-color: #008000;
  --Tahoma-font: "Press Start 2P", Tahoma;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
  --blend-mode: normal;
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
}
.dark-theme {
  --title-color: #ffff;
  --body-colour: #afafaf;
  --background-color: #181621;
  --foreground-color: #211f2a;
  --btn-color: #3e89bb;
  --blend-mode: lighten;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--Tahoma-font);
  font-size: 0.95rem;
  background: var(--background-color);
  color: var(--title-color);
  transition: background-color 1s, color 1s;
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
}
/* styling the header section and Navigation bar */
#nav-bar {
  width: 100%;
  /* position: fixed; */
  border-bottom: 0.5px solid #e0d9d9;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
}
.checkbtn {
  font-size: 30px;
  float: right;
  margin-right: 40px;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.nav-content {
  display: flex;
  width: 100%;
  /* height: 15vh; */
  align-items: center;
}
.nav-content .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  margin: 20px auto;
}
.nav-content .logo img {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--background-color);
}
.nav-content ul {
  padding: 0;
  list-style: none;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  padding-top: 20px;
}
.nav-content ul li {
  display: inline-block;
  margin: 20px;
  margin-top: auto;
}
.nav-content ul li:last-child {
  margin-right: 0;
}
.nav-content ul li a {
  text-decoration: none;
  color: var(--myColor);
  font-family: "Press Start 2P", Tahoma;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}

.nav-content a.active {
  background: var(--btn-color);
  padding: 12px;
  border-radius: 5px;
  transition: border-color 100ms;
  /* transition: transform 1s var(--ease-out-quart); */
}
.nav-content a.active:hover {
  border: 1px solid #e4dbdb;
  opacity: 0.94;
  /* transition: transform 1s rotate(45deg); */
}
.nav-content ul li a i {
  font-style: normal;
  font-size: inherit;
  font-weight: 900;
  font-family: cursive;
  margin-left: -15px;
}
/* .toggle-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: flex;
  cursor: pointer;
  z-index: 9999;
  background: white;

/* .toggle-btn i {
  margin: auto;
  font-size: 20rem;
  color:white;

} 
/* styling the About section */
#about {
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  display: flex;
}

#about h1 {
  padding: 250px 150px 120px 150px;
  line-height: 1.5rem;
  font-size: 13px;
  font-family: var(--Press-Start-2P);
  animation: bounceInLeft;
  animation-duration: 5s;
}
#about span {
  font-family: fantasy;
  font-size: 60px;
  font-weight: 900;
}

/* skills section */
#skills {
  background-color: #97dee72a;
  width: 100%;
  height: 100vh;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 2500px; */
}
#skills p {
  font-size: 15px;
}
#skills .container {
  border: 0.5px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 40%;
  height: 80vh;
  padding: 40px;
}
.tools-header {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 20px;
  padding: 0px 50px;
}
.tools-header p {
  margin-top: 15px;
}
#skills .container span {
  font-size: 20px;
  text-align: center;
  color: #ac4040 !important;
  margin-bottom: 5px;
  font-family: tahoma;
}
#skills .container strong {
  margin-top: 2px;
  text-align: center;
  font-size: 14px;
}
#skills .container p {
  text-align: center;
  font: normal 20px "libre franklin";
  color: #ac4040;
  margin-top: 20px;
  text-decoration: underline;
}
#skills ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 2px;
}
#skills ul li {
  text-align: center;
}
#skills ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

/* Projects section */
#projects {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
#projects .project-title {
  padding-top: 73px;
  padding-bottom: 30px;
}
#projects .cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
#projects .cards .card {
  display: block;
  width: 100%;
  position: relative;
  transition: all 1s ease-in-out;
}
#projects .card:hover {
  transform: rotate3d(0, 1, 0.5, 1turn);
  position: relative;
  z-index: 10;
}
#projects .cards .card img {
  width: 100%;
  max-height: 300px;
  height: 100%;
  border-radius: 5px;
}
#projects .cards .card figcaption {
  position: absolute;
  z-index: 2;
  font: 10px "libre franklin";
  color: #000;
  bottom: 0;
  padding: 8px 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#projects .cards .card #stats {
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 8px;
}
/*  styling the contact section */
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 20px 0;
}
/* The two columns in contact section sit next to each other */
.col {
  float: left;
  padding: 10px;
  width: 30%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
/* Clear floats after the columns  */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .social-media {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.social-media ul {
  list-style-type: none;
  margin: 5px 20px;
}
.social-media ul li {
  margin: 40px;
}
.social-media ul li:first-child {
  margin-top: 10px;
}
.social-media ul li a {
  text-decoration: none;
  background-color: #0000;
  font-size: 35px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  width: 40px;
  opacity: 7;
}
.fa-github {
  color: #000000;
}
.fa-linkedin {
  color: #0e76a8;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-download {
  color: #e2d5d5;
  border: 1px solid #000;
  /* border-radius: 50px; */
}
.social-media ul li a:hover {
  opacity: 0.5;
}

.form-group h2 {
  font-size: 15px;
  display: block;
  text-align: start;
  margin-bottom: 30px;
}
.form-group {
  width: 70%;
  display: block;
}

input[type="text"],
textarea {
  width: 100%;
  display: inline-block;
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--title-color);
  margin-bottom: 10px;
  font-size: 15px;
  outline: 0;
  resize: vertical;
  background-color: transparent;
  /* box-shadow: 0px 0px 20px var(--background-color); */
}
input[type="text"]:focus,
textarea:focus {
  border-bottom: 2px solid var(--title-color);
}
::placeholder {
  color: var(--place-holder-color);
  font-size: 1rem;
}
input[type="submit"] {
  display: block;
  background: var(--btn-color);
  color: var(--title-color);
  opacity: 0.85;
  border-radius: 50px;
  padding: 12px 25px;
  margin: 25px auto;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
}
input[type="submit"]:hover {
  opacity: 1;
}

/* footer section */
footer .container {
  border-top: 1px solid #707070;
  padding: 20px;
  color: var(--title-color);
  margin-top: 50px;
  width: 100%;
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content p {
  text-align: center;
  line-height: 15px;
  font-size: 0.625rem;
}
/* Media query for responsiveness all all types of screens and print */

@media all and (max-width: 750px) {
  .checkbtn {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--foreground-color);
    top: 55px;
    left: -100%;
    transition: all 0.5s;
  }
  .nav-content ul li {
    display: block;
    margin: 40px 0;
    line-height: 10px;
  }
  #check:checked ~ .nav-content ul {
    left: 0;
  }
  .nav-content ul li a {
    font-size: 0.938rem;
    font-weight: bold;
    color: var(--background-color);
  }
  .nav-content ul li a:hover {
    opacity: 0.2;
  }
  .nav-content ul li a.active {
    background-color: var(--title-color);
    padding: 12px;
    border-radius: 5px;
    color: var(--title-color);
    transition: border-color 100ms;
  }

  .nav-content a.active:hover {
    border: 1px solid var(--title-color);
    /* opacity: 0.94; */
  }

  #about .container h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: -20px;
    font-size: 0.688rem;
    line-height: 16px;
  }

  #about h1 span {
    font-size: 0.813rem;
    font-family: var(--Press-Start-2P);
    padding: 5px;
    height: 10px;
    font-weight: 700;
  }
  #projects .cards {
    grid-template-columns: 1fr 1fr;
  }
  .col {
    width: 100%;
    margin-top: 0;
  }
  .social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
  }
  .social-media ul li {
    margin-right: 1px;
  }
  .social-media ul li a {
    font-size: 1.563rem;
    /* line-height: 30px; */
  }
  .social-media ul li:first-child {
    margin-top: 38px;
    display: block;
    height: 15%;
  }
  .form-group h2 {
    font-size: 0.625rem;
    margin-bottom: 10px;
    display: block;
  }
  .tools-header {
    margin-top: -15px;
  }
  #skills h3 {
    font-size: 0.75rem;
    line-height: 15px;
    margin-top: -55px;
    margin-right: 10px;
    margin-left: 10px;
  }
  #skills p {
    font-size: 0.563rem;
    line-height: 15px;
  }
  #skills .container {
    height: 60vh;
    width: 75%;
  }
  #skills .container span {
    font-size: 0.813rem;
  }
  #skills .container strong {
    font-size: 0.625rem;
  }
  #skills .container p {
    font-size: 0.813rem;
  }
  #skills ul li a {
    font-size: 0.625rem;
  }
  #projects h3 {
    font-size: 0.625rem;
  }
  #projects .cards .card figcaption {
    font-size: 0.625rem;
  }
}
@media all and (min-width: 300px) {
  #projects .cards {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 900px) {
  #projects .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
