*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
} 
 :root { 
  font-size: 0.95rem;
  --main-text-color: #707070;
}
 /* .main{
  display: flex;
  flex-direction: column;
   max-width: 1100px;
   position: relative;
   margin: 0 auto; 
   padding: 0.625rem; 
   background-color:indianred;
} * */

html{
  scroll-behavior: smooth;
}
body {
  font-family: "Press Start 2P", Tahoma;
  background-color: azure;
  color: var(--main-text-color)
}
.dark-mode{
  background-color:#0c1011;
  color: #ffff;
  
}
body::-webkit-scrollbar{
  display: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* header section */
#nav-bar{
  width: 100%;
  position: fixed;
  border-bottom: 0.5px solid #e0d9d9;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
} 
.nav-content{
  display: flex;
  width: 100%;
  align-items:center;
}
.nav-content .logo{
  display: flex;
  width: 70px;
  height: 65px;
  margin: 20px auto;
}
.nav-content .logo img{
  cursor: pointer;
  width: 100%;
  border-radius: 55px;
  border: 2px solid gray;
}
.nav-content ul{
  padding: 0;
  list-style: none;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 10px;
}
.nav-content ul li{
  display: inline-block;
  margin: 20px;
}
.nav-content ul li:last-child{
  margin-right: 0;
  font-size: 10px;
}
.nav-content ul li button{
  border:0;
  background-color:azure;
  cursor: pointer;
  font-weight: bold;
  color:#020000;
}
.nav-content ul li a{
  text-decoration: none;
  color:#707070;
  font-family: "Press Start 2P", Tahoma;
}
.nav-content a.active{
  background-color:#a52a2a;
  padding: 12px;
  border-radius: 5px;
  color:#fff;
  transition: border-color 100ms;
  /* display: inline; */ 
}
.nav-content a.active:hover{
  border:1px solid #a52a2a;
  opacity: 0.94;

}
.nav-content .lightMode{
  font-family: "sans-serif";
  font-weight: bold;
}
/* About section */
#about {
  width: 100%;
  height: 400px;
  text-align: center;
  align-items:center;
  display: flex;
  /* transform: all .5s ease-in-out; */
}
/* #about:hover{ */
  /* transform: scale(1.5); */
/* #about .container{
  background-color:#529752;
  margin: 50px ;
} */
#about p {
  padding: 250px 150px 120px 150px;
  /* padding-top: 250px; */
  line-height: 1.563rem;
  /* background-color: #9b1919; */
  font-size: 12px;
  font-family: "Press Start 2P", Tahoma;
}
/* Projects section */
#projects{
  min-height: 100vh;
  text-align: center;
  display: flex;
  padding: 20px 0;
}
#projects .project-title{
  padding-top: 73px;
  padding-bottom: 30px;
}
#projects .cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
#projects .cards .card{
  display: block;
  width: 100%;
  position: relative;
  transition: all 1s ease-in-out;
  /* font-size: 10px; */
}
#projects .card:hover{
  transform: rotate3d(0, 1, .5 , 1turn);
  position: relative;
  z-index: 10;

}
#projects .cards .card img{
  width: 100%;
  max-width: 300px;
  height: 100px;
  border-radius:5px;
}
#projects .cards .card figcaption{
  position: absolute;
  z-index: 2;
  font-size: 10px;
  bottom: 0;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;

}
/* Contact section */
#contact {
   display: flex;
   align-items:center;
   text-align: center;
   width: 100%;
   padding: 20px 0; 
}
.row{
  display: flex;
  width: 100%;
  /* background-color:#04AA6D; */
}
/* The two columns that sit next to each other */
.col {
  flex: 50%;
  padding: 20px;
}
.row .social-media{
  display: flex;
  flex-direction: column;
  padding: 70px;
  margin: 0 auto;
  /* background-color:#a52a2a; */

}
.social-media ul{
  list-style: none;
  /* background-color:#eee7e7; */
  margin: 0 20px;
}
.social-media ul li{
  margin: 60px;
  padding: 5px 0px;
  /* background-color: #04AA6D; */
}
.social-media ul li:first-child{
  margin-top: 10px;
}
.social-media ul li a{
  text-decoration: none;
  color: var(--main-text-color);
}

.container h2{
  font-size: 20px;
  display: block;
  text-align: start;
  margin-bottom: 30px;

}
 
input[type="text"],textarea{
  width: 100%;
  display: inline-block;
  padding: 10px ;
  border:none;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
  font-size: 15px;
  outline:0;
  resize: vertical;
  background-color:azure;
   box-shadow: 0px 0px 20px azure; */

}
::placeholder{
  color:#e2e0e0;
}
input[type="submit"]{
  /* display: block; */
  background-color: #04AA6D;
  border-radius:50px;
  color: white;
  padding: 12px 20px;
  margin: 10px auto; 
  width: 25%;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
}
input[type=submit]:hover {
  background-color: #45a049;
}

/* footer section */
footer {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items:center; */
  /* justify-content:center; */
  /* width: 100%; */
 /* background-color: #173d17; */ */
} 
footer hr {
  border: 2px solid #707070;
  margin-top: 50px;
  /* display: inline-block; */
}
footer p {
  text-align: center;
  color: #707070;
  font-size: 10px;
  padding: 30px 0;
}

/* .social-media {
  display: flex;
  justify-content: center;
}
.social-media a {
  margin-right: 50px;
  text-decoration: none;
  color: var(--main-text-color);
} */ */
